@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Default Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.container-fluit {
    max-width: 1050px;
    margin: 0 auto;
}

p {
    margin: 0;
}


/* Header Styles */
.header .top-side p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: #808080;
}

.header .navbar {
    padding-bottom: 10px;
}

.header .navbar .logo {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}

.header .navbar .navbars {
    margin-right: 150px;
}

.header .navbar .navbars ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    text-transform: uppercase;
    font-size: 10.5px;
}

.header .navbar .navbars a {
    color: #808080;
    transition: 0.4s;
}

.header .navbar .navbars a:hover {
    color: #000;
}

.header .navbar .navbar-icons {
    display: flex;
    gap: 15px;
    font-size: 13px;
    margin-right: 15px;
}

.header .navbar .navbar-icons a {
    color: #808080;
    transition: 0.4s;
}

.header .navbar .navbar-icons a:hover {
    color: #000;
}

/* Section 1 */
.section_1 {
    background: #000;
    color: #fff;
    padding-bottom: 165px;
}

.section_1 .sec_1-texts_side h1 {
    text-transform: uppercase;
    font-weight: normal;
    padding: 40px 0 100px;
    font-size: 22px;
    letter-spacing: 3px;
}

.section_1 .sec_1-texts_side p {
    font-size: 12px;
    width: 94%;
    color: #b8b8b8;
    line-height: 20px;
    margin-bottom: 60px;
}

.section_1 .sec_1-texts_side a {
    color: #fff;
    font-size: 12px;
    color: #b8b8b8;
}

.section_1 .sec_1-texts_side a:hover {
    text-decoration: underline;
}

.section_1 .sec_1-image_side img {
    filter: grayscale(80%);
    width: 450px;
    margin-top: 100px;
    margin-left: 125px;
}


/* Section 2 */
.section_2 {
    background: #000;
    color: #fff;
    padding-bottom: 165px;
}

.section_2 .sec_2-texts_side {
    display: flex;
    align-items: center;
    padding-left: 75px;
    font-size: 13px;
}

.section_2 .sec_2-texts_side h3 {
    color: #b8b8b8;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.section_2 .sec_2-texts_side p {
    width: 83%;
    font-family: 'Poppins', sans-serif;
}

.section_2 .sec_2-texts_side .text-warning {
    margin-right: 5px;
}

.section_2 .sec_2-texts_side .center-p {
    margin: 20px 0;
}

.section_2 .sec_2-image_side {
    max-width: 50%;
}


/* Section 3 */
.section_3 {
    background: #000;
    color: #fff;
    padding-bottom: 100px;
}

.section_3 .sec_3-texts_side {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.section_3 .sec_3-texts_side h2 {
    font-size: 33px;
    width: 66%;
    line-height: 50px;
    letter-spacing: 8px;
    font-weight: 900;
}

.section_3 .sec_3-image_side img {
    width: 100%;
    height: 100%;
}


/* Section 4 */
.section_4 {
    padding-bottom: 100px;
    padding-top: 75px;
    letter-spacing: 3px;
}

.section_4 h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 23px;
    padding-bottom: 30px;
}

.card {
    border: none;
    gap: 10px;
    transition: 0.4s;
}

.card:hover .sec_4-card-text {
    color: #fff;
}

.card img {
    width: 100%;
    height: 100%;
}

.card .sec_4-image_side {
    position: relative;
}

.card .sec_4-image_side .ad-for-product {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 11px;
    letter-spacing: 1px;
    background: #fff;
    padding: 2px 4px;
    cursor: pointer;
    transition: 0.4s;
}

.card .sec_4-image_side .ad-for-product:hover {
    background: #808080;
    color: #fff;
}

.card .sec_4-card-text {
    padding: 5px;
    font-size: 10px;
    color: #808080;
}

.card .sec_4-card-text h4 {
    font-family: 'Oswald';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .sec_4-card-text .cost {
    margin-top: 5px;
    font-family: 'Oswald';
}


/* Footer */
.footer {
    background: #f1f1f1;
    padding-top: 40px;
    padding: 40px 0 60px 100px;
}

.footer .foot-name {
    text-transform: uppercase;
    font-size: 13px;
    padding-bottom: 15px;
}


.footer .foot_1 .input_style {
    position: relative;
    width: 80%;
}

.footer .foot_1 input {
    position: absolute;
    border: none;
    border-bottom: 1px solid #9b9b9b;
    background: transparent;
    color: #808080;
    width: 100%;
    padding: 5px 10px;
}

.footer .foot_1 .fa-arrow-right {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #9b9b9b;
}

.footer .foot_1 .foot-icons {
    display: flex;
    gap: 20px;
    color: #9b9b9b;
    font-size: 15px;
}

.foot_2 a,
.foot_3 a {
    font-size: 14px;
    color: #9b9b9b;
}

.footer li {
    margin: 0 0 10px -33px;
}

.footer a {
    transition: 0.4s;
}

.footer a:hover {
    color: #000;
}

.res-header {
    display: none;
}



/* Media Queries */

@media only screen and (max-width: 1180px) {
    .section_1 .sec_1-image_side img {
        margin-top: 100px;
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1024px) {
    .section_1 .sec_1-image_side img {
        margin-top: 100px;
        margin-left: 0px;
    }

    .section_2 .sec_2-image_side img {
        width: 500px;
    }
}

@media only screen and (max-width: 924px) {
    .container-fluit {
        max-width: 850px;
    }

    .container {
        max-width: 900px;
    }

    .section_1 {
        padding-top: 145px;
    }

    .section_1 .sec_1-texts_side {
        width: 100%;
    }

    .section_1 .sec_1-texts_side h1 {
        padding: 30px 0;
        font-size: 40px;
    }

    .section_1 .sec_1-texts_side p {
        font-size: 25px;
        width: 95%;
        line-height: 33px;
        margin-bottom: 40px;
    }

    .section_1 .sec_1-texts_side a {
        font-size: 25px;
    }

    .section_1 .sec_1-image_side img {
        width: 200%;
    }

    .section_2 .sec_2-texts_side {
        width: 100%;
        font-size: 35px;
    }

    .section_2 .row {
        display: grid;
        grid-template-columns: auto;
    }

    .section_2 .sec_2-texts_side h3 {
        color: #b8b8b8;
        font-size: 35px;
        font-weight: normal;
        margin: 40px 0 20px;
        font-family: 'Poppins', sans-serif;
    }

    .section_2 .sec_2-image_side {
        width: 100%;
    }

    .section_2 .sec_2-image_side img {
        width: 100%;
    }

    .section_3 .sec_3-texts_side h2 {
        font-size: 60px;
        width: 100%;
        line-height: 78px;
    }

    .section_3 .sec_3-texts_side {
        width: 100%;
    }

    .section_3 .sec_3-image_side {
        width: 100%;
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .card {
        width: 45%;
        background: #ddd;
    }

    .header {
        display: none;
    }

    .foot_1 {
        width: 100%;
        margin-bottom: 70px;
    }

    .foot_2 {
        width: 100%;
        margin-bottom: 70px;
    }

    .foot_3 {
        width: 100%;
    }

    .footer .foot-name {
        text-transform: uppercase;
        font-size: 35px;
        padding-bottom: 15px;
    }

    .foot_2 a,
    .foot_3 a {
        font-size: 25px;
        color: #9b9b9b;
    }
    
    .res-header .top-side {
        font-family: 'Oswald', sans-serif;
        position: absolute;
        text-align: center;
        padding: 10px;
        font-size: 11px;
        text-transform: uppercase;
        color: #808080;
    }

    .res-header {
        display: flex;
        justify-content: center;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #ccc;
        position: fixed;
        height: 140px;
        top: 0;
        left: 0;
        z-index: 1000;
        font-size: 40px;
    }

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        left: 10px;
    }

    .hamburger-menu span {
        width: 25px;
        height: 3px;
        background: #000;
        margin: 4px 0;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 140px;
        left: 0;
        width: 100%;
        background: #fff;
        border-top: 1px solid #ccc;
        font-size: 20px;
    }

    .nav-links a {
        padding: 7px;
    }

    .nav-links a:nth-child(1) {
        background: #ddd;
    }

    .nav-links a:nth-child(3) {
        background: #ddd;
    }

    .nav-links a:nth-child(5) {
        background: #ddd;
    }

    .nav-links.show {
        display: flex;
    }

    .res-logo {
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 3px;
    }

    .navbar-icons {
        position: absolute;
        right: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .section_4 h3 {
        text-align: center;
        font-size: 30px;
    }
    
    .card {
        width: 80%;
    }
}